.hero {
  padding: 50px;
}

.hero-image {
  height: 400px;
  width: auto;
}

.hero-img-container {
  text-align: center;
}

.hero h1 {
  margin-bottom: 10px;
  font-size: 42px;
}

.hero p{
    font-size: 18px;
}
